/*----------------------------------------------------------------------------*/
/* _symbols 
/* Created on : 31.01.2025, 17:28:46
/*----------------------------------------------------------------------------*/

@use "cp-defaults";
@use "cp-websites";
@use "cp-fau";

.faudir {
   .icon {
       
       span.texticon,
       a {
	   text-decoration: none;
	   display: inline-flex;
	   align-items: center;
	   gap: 0.1rem;
	   
       }
       a:hover, a:focus {
	   text-decoration: underline;
	   text-decoration-thickness: inherit;
       }
       
       
	span.texticon::before,
	a::before {
	   background: currentColor;
	   mask: var(--_icon, var(--faudir-icon-default)) center center / 100% auto no-repeat;
	   display: inline-block;
	   width: var(--_icon-size, var(--faudir-icon-size));
	   height: var(--_icon-size, var(--faudir-icon-size));
	   content: "";
	   font-size: var(--_icon-size, var(--faudir-icon-size));
	   flex-shrink: 0;
	   margin-right: var(--_icon-margin-right, var(--faudir-icon-margin-right)); 
	}
	a::before {
	    mask: var(--_icon, var(--faudir-icon-url)) center center / 100% auto no-repeat;
	}
	
	&.icon-list {
	    li {
		a {
		   width: var(--_icon-size, var(--faudir-icon-size));
		   height: var(--_icon-size, var(--faudir-icon-size));
		   overflow: hidden;
		    gap: 0.3rem;
		}
	    }
	}
	
     }
     
  




    
}