.editor-styles-wrapper
  .wp-block-rrze-faudir-service
  article.rrze-elements-blocks_service_card
  figure.rrze-elements-blocks_service__figure {
  z-index: 0;
}

.wp-block-rrze-faudir-service .rrze-elements-blocks_service_card {
  margin-inline: var(--faue_wide-max-width_bleed_inline-margin);
  max-width: var(--wide-max-width);

  figure.rrze-elements-blocks_service__figure::before {
    left: 0;
    width: auto;
  }
}

div.wp-block-rrze-faudir-service {
  margin-inline: var(--faue_wide-max-width_bleed_inline-margin);

  article.rrze-elements-blocks_service_card {
    margin-inline: 0;
    max-width: var(--wide-max-width);

    p.block-editor-rich-text__editable.rich-text {
      line-height: initial;
    }

    ul.list-icons {
      padding-left: 0;
    }
  }
}
