/*
Settings for FAU Einrichtungen theme
*/
@use 'mixins';

.fau-theme {
    .content-row .entry-content {
	.faudir {		    
	    overflow-x: auto;
	}
    }    
    
    .faudir {
	.address-title, 
	.contact-title {
	     @include mixins.sr-only();
	}
	
    }
}
