/*----------------------------------------------------------------------------*/
/* _fau-elemental 
/* Settings for FAU Einrichtungen theme
/* Created on : 16.10.2025, 17:12:28
/*----------------------------------------------------------------------------*/
.fau-elemental {
    
    li, p, address {
	font-size: var(--P-Body-Text, var(--font-size-normal, 1rem));
    }
    .faudir {
	max-width: var(--small-max-width);
	margin: 0 auto;
    }

    figure:has(> img)::before {
	background-color: transparent;
    }
    
    
}