/*
Settings for FAU Einrichtungen theme
*/
@use '../mixins';

.fau-theme {
    .content-row .entry-content {
	.faudir {		    
	    overflow-x: auto;
	}
    }    
    
    .faudir {
	.address-title, 
	.contact-title {
	     @include mixins.sr-only();
	}
	h2.consultation-title {
	   --faudir-h2-font-size: 1rem;
	}
    }
}
