/*----------------------------------------------------------------------------*/
/* Settings for known Themes
/* Created on : 20.02.2025, 17:28:46
/*----------------------------------------------------------------------------*/

@use "fau-einrichtungen";
@use "fau-elemental";
@use "rrze-2019";