/*----------------------------------------------------------------------------*/
/* _buttons 
/* Created on : 30.01.2025, 09:02:36
/*----------------------------------------------------------------------------*/
.faudir {
    .button-link {
	background-color: var(--color-button-bg);
	border: none;
	border-radius: var(--border-radius-buttons, 3px);
	color: var(--color-button-text);
	display: inline-block;
	font-size: .938rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 5px 0;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
    }

    .button-link:hover {
	background-color: var(--color-button-hover-bg);
	color: var(--color-button-hover-text);
	text-decoration: none;
    }
}