/*----------------------------------------------------------------------------*/
/* _general-classes 
/* Classes to use for all formats and backend
/* Created on : 30.01.2025, 10:03:17
/*----------------------------------------------------------------------------*/
.faudir {
    .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
    }
     
     .text-list {
	 ul {
	    margin: 0;
	    display: inline;
	    
	    li {
		display: inline-flex;
		padding: 0 0.2rem;
		align-items: center;
		vertical-align: bottom;
		gap: 0;
	    }
	    li::after {
		content: ", ";
	    }
	    li:last-child::after {
		content: "";
	    }
	    .website.title {
		@extend .screen-reader-text;
	    }
	}
	
    }
    .icon-list {
	 ul {
	    margin: 0;
	    display: inline;
	    
	    li {
		display: inline;
		padding: 0 0.4rem;
		--_icon-size: 1.2rem;
	    }
	    .website.title {
		@extend .screen-reader-text;
	    }
	}
	    	
    }
    
	ul.maillist {
	    margin: 0;
	    display: inline;
	    
	    li {
		display: inline-flex;
		padding: 0;
	    }
	    li::after {
		content: "/";
		margin-left: 0.2rem;
		margin-right: 0.1rem;
	    }
	    li:last-child::after {
		content: "";
	    }
	    
	}
	.icon {

	    .maillist {
		    li:nth-child(n+2) a::before {    	
			 background: none;
			 width: 0;
		    }
		}
	}
	
    
}
