/*----------------------------------------------------------------------------*/
/* _general-classes 
/* Classes to use for all formats and backend
/* Created on : 30.01.2025, 10:03:17
/*----------------------------------------------------------------------------*/
.faudir {
    .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
    }
     
     .contactlist {
	 ul {
	    margin: 0;
	    display: inline;
	    
	    li {
		display: inline;
	    }
	    li::after {
		content: ", ";
	    }
	    li:last-child::after {
		content: "";
	    }
	    .website.title {
		@extend .screen-reader-text;
	    }
	}
	    	
    }
    .portallist {
	 ul {
	    margin: 0;
	    display: inline;
	    
	    li {
		display: inline;
	    }
	    .website.title {
		@extend .screen-reader-text;
	    }
	}
	    	
    }

	ul.maillist {
	    margin: 0;
	    display: inline;
	    
	    li {
		display: inline;
	    }
	    li::after {
		content: " / ";
	    }
	    li:last-child::after {
		content: "";
	    }
	}
	    	
    
}
