/*----------------------------------------------------------------------------*/
/* _settings 
/* Created on : 28.01.2025, 16:27:58
/*----------------------------------------------------------------------------*/

// Add global styles here
.faudir, .faudir-settings {
   
    --faudir-color-list-displayname: var(--color-content-links, #222);
    --faudir-color-links:  var(--color-links, #444);
    
    --faudir-icon-size: 1rem;
    --faudir-icon-margin-right: 0.2rem;
    --faudir-icon-color-hover: red; // var(--color-branding-primary, var(--color-content-links-hover, red));
    --faudir-icon-mask-size: 100%;
    --faudir-min-iconwidth: 24px;  // based on WCAG 2.2, 2.5.8 "Target Size (Minimum)"
  
    --faudir-figure-listssize: 150px;
    --faudir-figure-tablesize: 150px;
    --faudir-figure-border-radius: var(--border-radius, 0);
    --faudir-figure-textsignature-background: #ddd;
    --faudir-border-color: var(--color-ContentBorders, #e9edf2);
    
    --faudir-h1-font-size: var(--font-size-h1,var(--font-size-xl, 1.25rem));
    --faudir-h2-font-size: var(--font-size-h2,var(--font-size-normal, 1rem));
    --faudir-h3-font-size: var(--font-size-h3,var(--font-size-tiny,  0.938rem));
    --faudir-h4-font-size: var(--font-size-h4,var(--font-size-sm,  0.875rem));
    --faudir-h5-font-size: var(--font-size-h5,var(--font-size-xs,  0.76rem));
    
    --faudir-figcaption-font-size: var(--P-Caption, var(--font-size-tiny,  0.938rem));
    
    --faudir-format-margins: 1rem auto;
    
    --faudir-color-alert: var(--color-Notice, #a71c18);
    
    
    --faudir-color-error-text:  #66512c;
    --faudir-color-error-background: #fcf8e3;
    --faudir-color-error-border: #faebcc;
    
    

}
