/*----------------------------------------------------------------------------*/
/* _settings 
/* Created on : 28.01.2025, 16:27:58
/*----------------------------------------------------------------------------*/

// Add global styles here
.faudir {
   
    --faudir-color-list-displayname: var(--color-content-links, #222);
    
    
    --faudir-icon-size: 1.2rem;
    --faudir-icon-margin-right: 0.2rem;
    --faudir-icon-color-hover: red; // var(--color-branding-primary, var(--color-content-links-hover, red));
    --faudir-icon-mask-size: 100%;
    --faudir-min-iconwidth: 24px;  // based on WCAG 2.2, 2.5.8 "Target Size (Minimum)"
  
}

