/*----------------------------------------------------------------------------*/
/* _settings 
/* Created on : 28.01.2025, 16:27:58
/*----------------------------------------------------------------------------*/

// Add global styles here
.faudir {
   
    --faudir-color-list-displayname: var(--color-content-links, #222);
    
    
    --faudir-icon-size: var(--icon-size, 1.2rem);
    --faudir-icon-color: var(--icon-color, var(--color-Text, #222));
    --faudir-icon-color-hover: var(--icon-color-hover, var(--color-MainBackground, #fff));
    --faudir-icon-background-color-hover: var(--icon-background-color-hover, var(--color-Text, #222));
    --faudir-icon_background-color: var(--icon_background-color, var(--color-MainBackground, #fff));    
    --faudir-icon-border-radius: var(--icon-border-radius, 50%);
    --faudir-icon-border-width: var(--icon-border-width, 0);
    --faudir-icon-border-color: var(--icon-border-color, var(--color-Text, #222));
    --faudir-icon-border-color-hover: var(--icon-border-color-hover, var(--color-Text, #222));
    --faudir-icon-size-mask: var(--icon-size-mask, 95%);
    --faudir-icon-size-maskposition: var(--icon-size-maskposition, 0 0);
    
}

