// Main SCSS file for RRZE FAUDIR

// Definition for Custom properties
@use 'settings';

@use 'general-classes';

// Settings-Page in Backend
@use 'backend';

// Symbols
@use 'icons/icons';

// Settings for themes
@use 'themes/themes';

// Formats
@use 'formats/formats';

// Override PanelBodies for FAU-Einrichtungen
.editor-visual-editor {
  .wp-block-rrze-faudir-block {
    .components-button {
      padding: 1rem 4rem 1rem 1rem;
    }
  }
}
