/*----------------------------------------------------------------------------*/
/* card 
/* Settings for Format Card
/* Created on : 30.01.2025, 09:54:26
/*----------------------------------------------------------------------------*/

.faudir {   
    .format-card {
	--faudir-profile-image-section-width: 150px;
	--faudir-profile-image-width: 150px;
	--faudir-profile-image-height: 150px;
	--faudir-profile-padding: 0;
	--faudir-profile-card-gab: 1rem;
	--faudir-figure-border-radius: 50%;
	
	container-name: faudir-card-container;
	container-type: inline-size;
	display: flex;
	flex-wrap: wrap;
	gap: var(--faudir-profile-card-gab);
	justify-content: center;
	
	margin: var(--faudir-format-margins);
	
	.icon.icon-list ul li a,
	.listcontent {
	     --faudir-icon-margin-right:  0.2rem;
	}
	.listcontent span.value::after {
	    content: "";
	    margin-left: 0.2rem;
	    margin-right: 0.2rem;
	}
	
    }


   
    .format-card-container {
	width: var(--faudir-profile-image-section-width);
	height: auto;
	
	.profile-image-section {
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		
		img {
		    width: var(--faudir-profile-image-width);
		    height: var(--faudir-profile-image-height);
		    border-radius: var(--faudir-figure-border-radius);
		    aspect-ratio: 1;
		    overflow: hidden;
		    object-fit: cover;
		}
		figure {
		    margin: 0;
		}
		figure.signature {		    
		    .text {
			background-color: var(--faudir-figure-textsignature-background);
			color: var(--faudir-figure-textsignature-text);
			font-size: var(--faudir-figure-textsignature-font-size);
			font-weight: var(--faudir-figure-textsignature-font-weight);
			width: var(--faudir-profile-image-width);
			height: var(--faudir-profile-image-height);
			border-radius: var(--faudir-figure-border-radius);
			aspect-ratio: 1;
			display: block;
			align-content: center;
		    }
		}
		figcaption {
		    p {
			font-size: var(--faudir-figcaption-font-size);
			padding: 0;
		    }
		}
		
	}
	.profile-header, .profile-details {
	    text-align: center;
	}
    
    }
    @container faudir-card-container (min-width: 480px) {
	.format-card-container {
	    --faudir-profile-image-section-width: 180px;
	    --faudir-profile-image-width: 180px;
	    --faudir-profile-image-height: 180px;
	    --faudir-profile-padding: 0;
	    --faudir-profile-card-gab: 2rem;
	}
    }
    @container faudir-card-container (min-width: 768px) {   
	.format-card-container {
	    --faudir-profile-image-section-width: 200px;
	    --faudir-profile-image-width: 200px;
	    --faudir-profile-image-height: 200px;
	}
    }
    @container faudir-card-container (min-width: 1024px) {   
	.format-card-container {
	    --faudir-profile-image-section-width: 250px;
	    --faudir-profile-image-width: 240px;
	    --faudir-profile-image-height: 240px;
	    --faudir-profile-card-gab: 2.2rem;
	}
    }
}