/*----------------------------------------------------------------------------*/
/* _compact 
/* Created on : 30.01.2025, 10:53:27
/*----------------------------------------------------------------------------*/


.faudir {
    .format-compact {
	
	
	container-name: faudir-compact-container;
	container-type: inline-size;
	margin: var(--faudir-format-margins);
	
	
	.format-compact-container {
	    --faudir-profile-image-section-width: 100%;
	    --faudir-profile-image-section-height: 120px;
	    --faudir-profile-image-width: 100%;
	    --faudir-profile-image-height: auto;
	    --faudir-profile-padding: 0;
	    --faudir-profile-compact-gab: 1rem;
	    
	    display: grid;
	    gap: 0;
	    grid-template-areas:
		"image"
		"header"
		"details";
	    margin-bottom: 1rem;
	    
	    .profile-image-section {
		display: flex;
		justify-content: center;
		text-align: center;
		border-radius: var(--faudir-figure-border-radius);
		grid-area: image;
		
		img {
		    width: var(--faudir-profile-image-width);
		    height: var(--faudir-profile-image-height);
		    object-fit: cover;
		    display: block;
		}
		figure {
		    margin: 0;
		}
		figure.signature {		    
		    .text {
			background-color: var(--faudir-figure-textsignature-background);
			width: var(--faudir-profile-image-width);
			height: var(--faudir-profile-image-height);
			display: block;
			align-content: center;
		    }
		}
		figcaption {
		    p {
			font-size: var(--faudir-figcaption-font-size);
			padding: 0;
		    }
		}
	    }
	    
	    .profile-header {
		grid-area: header;
		display: flex;
		flex-direction: column;
	//	justify-content: center;
		padding: var(--faudir-profile-padding);
		 h1 {
			margin-top: 0;
		 }

		 p.jobtitle,
		 p.organisation_name {
		     padding-bottom: 0;
		       margin: 0;
		 }
	    }


	    .profile-details {
		grid-area: details;
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		
		
		.profile-address, .profile-consultation, .profile-contact, .profile-socialmedia {
		   padding: var(--faudir-profile-padding);
		}
		
		.profile-address {

		}
		.profile-consultation {
		    h2 {
			margin-top: 1rem;
		    }

		}
		.profile-contact {

		}
		.profile-socialmedia {
		     margin: 0 0 1rem 0;
		}
	    }
	    .profile-content {
		.teasertext {
		 
		}
	    }
	    
	}
	
	
	
	@container faudir-compact-container (min-width: 320px) {
		.format-compact-container {
		    --faudir-profile-image-section-width: 120px;
		    --faudir-profile-image-section-height: 120px;
		    --faudir-profile-image-width: 120px;
		    --faudir-profile-image-height: 120px;
		    gap: var(--faudir-profile-compact-gab);
		    grid-template-areas:
			"header"
			"details";
		    grid-template-columns: 1fr;
		}
		.format-compact-container:has(.profile-image-section) {
		   grid-template-areas:
			"image header"
			"details details";
		   grid-template-columns: var(--faudir-profile-image-section-width) auto;
		}  
		.profile-image-section {
		    width: var(--faudir-profile-image-size);
		    height: auto;
		}
	    }    

	@container faudir-compact-container (min-width: 480px) {
		.format-compact-container {
		    --faudir-profile-image-section-width: 150px;
		    --faudir-profile-image-section-height: 150px;
		    --faudir-profile-image-width: 150px;
		    --faudir-profile-image-height: 150px;
		    grid-template-areas:
			"header"
			"details";
		    grid-template-columns: 1fr;
		    border: 1px solid var(--faudir-border-color, #e9edf2);
		    padding: 5px;
		}
		.format-compact-container:has(.profile-image-section) {
		   grid-template-areas:
			"image header"
			"details details";
		   grid-template-columns: var(--faudir-profile-image-section-width) auto;
		} 
		.profile-image-section {
		    width: var(--faudir-profile-image-size);
		    height: auto;
		}
	    }


	@container faudir-compact-container (min-width: 768px) {   
	    .format-compact-container {
		--faudir-profile-image-section-width: 200px;
		--faudir-profile-image-section-height: 200px;
		--faudir-profile-image-width: 200px;
		--faudir-profile-image-height: 200px;
		grid-template-areas:
		    "header"
		    "details";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		align-items: stretch;
	    }
	    .format-compact-container:has(.profile-image-section) {
		   grid-template-areas:
			 "image header"
			"image details";
		   grid-template-columns: var(--faudir-profile-image-section-width) 1fr;
		}
	    .profile-image-section {
		height: 100%; 
	    }
	}
	
	@container faudir-compact-container (min-width: 1200px) {   
	    .format-compact-container {
		--faudir-profile-image-section-width: 300px;
		--faudir-profile-image-section-height: 300px;
		--faudir-profile-image-width: 300px;
		--faudir-profile-image-height: 300px;
	    }
	}

	

}
    
} 